<mat-toolbar color="primary">Trades</mat-toolbar>

<div *ngIf="isLoading" class="loader-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

        <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Transaction ID </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.transactionID}} </td>
        </ng-container>

        <ng-container matColumnDef="tradeId">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Trade ID </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.tradeId}} </td>
        </ng-container>

        <ng-container matColumnDef="tradeVersionId">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Trade Version ID </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.tradeVersionId}} </td>
        </ng-container>

        <ng-container matColumnDef="commodity">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Commodity </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.commodityCode}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Quantity </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Action </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex">
                <span [ngClass]="getActionClass(trade.action)" class="action-pill">
                    {{ trade.action }}
                </span>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Type </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex">
                <span [ngClass]="getTypeClass(trade.type)" class="type-pill">
                    {{ trade.type }}
                </span>
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Next Action </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex">
                <button mat-button color="primary" (click)=updateTrade(trade)>Update</button>
                <button mat-button color="warn" (click)="cancelTrade(trade)">Cancel</button>
            </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="price"></ng-container>
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Price </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> ₹{{trade.price}} </td>
        </ng-container>

        <ng-container matColumnDef="counterparty">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Counterparty </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> {{trade.counterparty}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Total Price </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex"> ₹{{trade.totalPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="mat-column-flex"> Status </th>
            <td mat-cell *matCellDef="let trade" class="mat-column-flex">
                <span [ngClass]="trade.status.toLowerCase()" class="status-pill">
                    {{trade.status}}
                </span>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    <button mat-fab color="accent" class="add-button" (click)="openAddTradeDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
